<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Nhok's Girf shop">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nhok's Girft shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/")bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")themify-icons.css" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")nice-select.css" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/")style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        @Html.Partial("_Header")
    </header>
    <!-- Header End -->
    @RenderBody();
    <!-- Footer Section Begin -->
    @Html.Partial("_PartialPartner")
    <footer class="footer-section">
        @Html.Partial("_Footer")
    </footer>

    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="@Url.Content("~/Scripts/")jquery-3.3.1.min.js"></script>
    <script src="@Url.Content("~/Scripts/")bootstrap.min.js"></script>
    <script src="@Url.Content("~/Scripts/")jquery-ui.min.js"></script>
    <script src="@Url.Content("~/Scripts/")jquery.countdown.min.js"></script>
    <script src="@Url.Content("~/Scripts/")jquery.nice-select.min.js"></script>
    <script src="@Url.Content("~/Scripts/")jquery.zoom.min.js"></script>
    <script src="@Url.Content("~/Scripts/")jquery.dd.min.js"></script>
    <script src="@Url.Content("~/Scripts/")jquery.slicknav.js"></script>
    <script src="@Url.Content("~/Scripts/")owl.carousel.min.js"></script>
    <script src="@Url.Content("~/Scripts/vendor/sweetalert2/")sweetalert2.all.min.js"></script>
    <script src="@Url.Content("~/Scripts/")main.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>